{% extends "base.html" %}

{% block nav %}
  <nav>
    <h1>BlankSpace</h1>
    <h6>Sarah Kwan</h6>
    <h6>Ryan Montgomery</h6>
    <h6>Junha Shin</h6>
    <a href="#concept"><p>Concept</p></a>
    <a href="#motive"><p>Motivation</p></a>
    <a href="#competition"><p>Competitive Analysis</p></a>
    <a href="#techspecs"><p>Technical specifications</p></a>
    <a href="#req"><p>Requirements</p></a>
    <a href="#risks"><p>Risks &amp; mitigation strategies</p></a>
    <a href="#prez"><p>Presentations</p></a>
  </nav>
{% endblock nav %}
{% block content %}
<section>
  <header>
    <h2 id="concept">Concept</h2>
  </header>
  <article>
    <p>BlankSpace determines how full a space is and makes that information available via a web application. It works using a thermal camera and secondary sensors.</p>
  </article>
</section>
<section>
  <header>
    <h2 id="motive">Motivation</h2>
  </header>
  <article>
    <p>Students often waste a lot of time searching for a place to work. BlankSpace will enable students to quickly check space availability without actually needing to visit the space.</p>
  </article>
</section>
<section>
  <header>
    <h2 id="competition">Competitive analysis</h2>
  </header>
  <article>
    <header>
      <h5>Rita</h5>
    </header>
    <p>Rita is another 18-549 project. They also want to determine in real time whether a space is too crowded or noisy. They are using Kinect, accelerometers, Grid-Eye, and ambient noise sensors and placed around the room to identify the conditions within. Their installation requirements are much more intensive than ours, i.e. sensors on each chair. Our projects differ significantly in the types of sensors used, as well as the centralized nature of our system.</p>
  </article>
  <article>
    <header>
      <h5>Asure Software</h5>
    </header>
    <p><a href="http://www.asuresoftware.com/products/space-utilization/" target="_blank">Asure Software</a> combats a common problem in the workplace where often times a lot of desk and workspace is not utilized efficiently. Asure Software uses sensors to find free space as well as helps the user use their space more efficiently. This project is similar to our project, but it pertains to a different problem space as Asure Software focuses more on objects rather than people.  Asure accomplishes this using many different types of sensors that get placed on surfaces.</p>
  </article>
  <article>
    <header>
      <h5>OccupEye</h5>
    </header>
    <p><a href="http://www.occupeye.com/" target="_blank">OccupEye</a> is used to increase efficiency through space utilization. OccupEye is similar to Asure Software, but it also is able to detect the presence of people. This project is similar to our project, but it pertains to a different problem space as OccupEye focuses more on objects rather than people.</p>
  </article>
</section>
<section>
  <header>
    <h2 id="techspecs">Technical specifications</h2>
  </header>
  <article>
    <header>
      <h5>Hardware</h5>
    </header>
    <h6>FLIR Lepton thermal camera</h6>
    <p>A 160&times;160px thermal camera.</p>
    <a href="http://www.digikey.com/product-detail/en/500-0659-01/500-0659-01-ND/5215153" target="_blank"><p>$183</p></a>
    <h6>UDOO</h6>
    <p>A powerful miniature computer (approximately equivalent to four Raspberry Pi units) with built-in Wi-fi and Bluetooth LE.</p>
    <a href="http://shop.udoo.org/usa/home/udoo-neo-extended.html" target="_blank"><p>$60</p></a>
  </article>
  <article>
    <header>
      <h5>Software</h5>
    </header>
    <h6>Google App Engine</h6>
    <p>Platform as a service. <a href="https://cloud.google.com/appengine/docs" target="_blank">Link.</a></p>
  </article>
  <article>
    <header>
      <h5>Protocols</h5>
    </header>
    <h6>Bluetooth Low-Energy</h6>
    <p>A low-power communication standard for embedded devices.</p>
    <h6>Wi-fi</h6>
    <p>A more power-hungry standard, but very common for local area networks.</p>
    <h6>I<sup>2</sup>C</h6>
    <p>A common serial protocol for embedded systems.</p>
    <h6>SPI</h6>
    <p>Another common serial protocol for embedded systems.</p>
  </article>
</section>
<section>
  <header>
    <h2 id="req">Requirements</h2>
  </header>
  <article>
    <header>
      <h5>Accurate estimation of the free space in a room</h5>
    </header>
    <p>We want our sensors to be wide angle to gauge the space available and capture all data relevant to the way people are occupying space in the room.  We may be able to use heuristics to determine where people are located in a given space or building by knowing beforehand how much space there is and where it is located, what time of day it is, what events may be going on, etc.  By using sensor data about the number of people spread out in one area, we could also deduce the number of people in other areas.  For a good product, where we place our sensors should allow us to accurately gauge the space being studied and where people are situated in that space.</p>
  </article>
  <article>
    <header>
      <h5>Low-power sensor units for easy installation and long life</h5>
    </header>
    <p>We want our units to overall have low power consumption rates and have long battery life because they should run on battery (to avoid difficult installation and needing external power sources nearby).  It may be a good design choice if the units were able to have a “sleep” mode for when buildings are closed to people.  The units could also function as security cameras when buildings are closed, and this functionality could be paired with camera for image processing capabilities if desired.</p>
  </article>
  <article>
    <header>
      <h5>Space availability can be determined from a web app</h5>
    </header>
    <p>For people, or ourselves, to get live updates when we check our internet-connected devices about the emptiness of rooms we may want to go to.  We want the processed data from our product units to be update data on the website.</p>
  </article>
  <article>
    <header>
      <h5>Cope with changes in weather and season, plus any other discrepancies in the space</h5>
    </header>
    <p>Changes in weather could affect the amount of heat (like in the form of light) that enters a room and thus be noise that sensors like the thermal imager would pick up as well.  If people wear more clothing on their bodies, the image of their heat image could also appear different than when they wear lighter layers.  Our product should work regardless of physical changes in surrounding and additions to a person’s body to analyze input and output consistent, accurate results.</p>
    <p>The thermal imager also detects heat the is reflected off of shiny surfaces such as glass, so body heat reflected off surrounding surfaces could skew the product’s analysis  of how many people are in a room.  We would have to take this discrepancy of rooms into account as well somehow by accounting for which surfaces are merely thermal reflectors and should not affect the people count.</p>
  </article>
  <article>
    <header>
      <h5>Don’t creep anyone out</h5>
    </header>
    <p>We would like our units to be able to discreetly sit in the corners of room ceilings without disarming anyone in the room.</p>
  </article>
  <article>
    <header>
      <h5>Possible stretch goal: Android and iOS apps</h5>
    </header>
    <p>For the same data that is on the web app to be available as phone apps running on Android and iOS.</p>
  </article>
</section>
<section>
  <header>
    <h2 id="risks">Risks &amp; mitigation strategies</h2>
  </header>
  <article>
    <p>In regards to schedule, we were able to build in risk into the schedule as we left the last system demo to debugging and optimization. As a result, we have flexibility as to if we end up falling behind because of specific software or hardware issues, so that we could push all the system demos a bit back and use less time at the debugging and optimization part.</p>
    <p>From a design perspective, we were planning to augment our design with beam sensors as well as mobile apps that would support the data that we collect from the thermal camera. As a result, if our thermal camera is less accurate in detecting people within the given space, we would be able to adjust the data collected by the thermal camera in accordance to the supporting data that we plan to collect.</p>
    <p>From a resources perspective, the major cost for our project is the thermal camera, so we can only limit our spending to buying up to 2 thermal cameras. Fortunately, the thermal cameras have wide angle vision, so it can capture a wide space very accurately. We would just need to place the cameras in locations that would use their wide angle vision to their advantage, which would require a bit of scouting of the area.</p>
  </article>
</section>
<section>
  <header>
    <h2 id="prez">Presentations</h2>
  </header>
  <article>
    <header>
      <h5>Project proposal</h5>
    </header>
    <p>We presented our initial idea for the class, professor, and TAs.<p>
    <a href="https://docs.google.com/presentation/d/1ZRWzEuQkOz4JGcIodDWogdqgMvTkJ1RwPD93M4zhoII/edit?usp=sharing" target="_blank"><p>Google Slides</p></a>
</section>
{% endblock content %}
